apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  mysql-root-password: cm9vdHBhc3N3b3Jk   # base64('rootpassword')
  mysql-password: YXBwcGFzc3dvcmQ=        # base64('apppassword')
